body {
    padding: 0;
    margin: 0;
    font-size: $font-size-normal;
    color: $font-color;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0;
    width: $button-width;
    height: $button-height;
    color: $font-color;
    background-color: $button-background-color;
    font-size: $button-text-size;
    border: 0;
    transition: all ease 0.3s;

    &:hover {
        background-color: $button-background-color-hover;
    }

    &:disabled {
        cursor: initial;
        background-color: $button-disabled-color;
    }

    &--red {
        background-color: $button-warning-background-color;
    }
}

.field {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    background-color: transparent;
    font-size: 18px;
    color: $font-color;
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid $field-border-color;
    outline: 0;
    margin: 10px 0;

    &-text-area {
        font-family: 'Segoe UI', Roboto, Oxygen;
        width: 100%;
        background-color: transparent;
        font-size: 18px;
        color: $font-color;
        padding: 5px;
        box-sizing: border-box;
        border-color: $background-color;
        border-width: 2px;
        resize: none;
        height: $text-area-height;
    }
}

a:visited, a:hover, a {
    color: $font-color;
    text-decoration: none;
}

.fa, .fas, .fab {
    cursor: pointer;
    font-size: 24px;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background: $background-color;
}
  
::-webkit-scrollbar-thumb {
    background: $background-color-dark;
}
  
::-webkit-scrollbar-track {
    background: white;
}