// generic
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big: 18px;
$font-size-large: 24px;

$font-color: #eeeeee;
$background-color: #435571;
$screen-height: 100vh;
$background-color-dark: #1d2428;

// buttons
$button-width: 140px;
$button-height: 40px;
$button-text-size: 16px;
$button-background-color: #435571;
$button-background-color-hover: #98aed3;
$button-disabled-color: #112121;
$button-warning-background-color: red;

// inputs
$field-border-color: #435571;

// modal 
$auth-modal-width: 420px;
$auth-modal-height: 280px;
$modal-header-height: 50px;
$section-unactive-color: #435571;
$section-height: 50px;

//warning 
$warning-width: 200px;
$warning-height: 100px;
$warning-color: #ff8800;
$danger-color: red;
$color-success: green;

//header 
$header-height: 60px;
$logo-width: 150px;
$nav-width: 260px;
$nav-min-width: 200px;
$header-logout-width: 100px;
$link-max-width: 130px;
$link-min-width: 100px;

// home
$home-height: calc(100vh - 60px);
$profile-height: calc(100vh - 60px);

//profile
$profile-wrapper-width: calc(100vw - 320px);
$driver-truck-description-height: 100px;
$driver-truck-max-width: 540px;
$driver-truck-min-width: 480px;

//sidebar
$sidebar-width: 320px;
$sidebar-photo-height: 300px;
$sidebar-photo-width: 250px;

//trucks
$trucks-height: 400px;
$trucks-item-min-width: 250px;
$trucks-item-max-width: 300px;
$truck-icon-size: 100px;
$trucks-description-height: 300px;