// generic
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big: 18px;
$font-size-large: 24px;

$font-color: #eeeeee;
$background-color: #435571;
$screen-height: 100vh;
$background-color-dark: #1d2428;

// buttons
$button-width: 140px;
$button-height: 40px;
$button-text-size: 16px;
$button-background-color: #435571;
$button-background-color-hover: #98aed3;
$button-disabled-color: #112121;
$button-warning-background-color: red;

// inputs
$field-border-color: #435571;

// modal 
$auth-modal-width: 420px;
$auth-modal-height: 280px;
$modal-header-height: 50px;
$section-unactive-color: #435571;
$section-height: 50px;

//warning 
$warning-width: 200px;
$warning-height: 100px;
$warning-color: #ff8800;
